@for (int i = 0; i < Controller.Regions.Count; i++)
{
    int count = i + 1;
    var CurrentRegion = i;
    //var OfficeRowCount = ;
    <div class="row mx-auto mb-3 pt-3  border-top border-dark">
        <div class="row mx-auto mb-3 pt-3 region-office-count">
            <label class="col-md-4 text-left">Name of Region @count</label>
            <div class="col-md-3">
                <div class="input-group">
                    <input type="text" class="form-control height-30">
                </div>
            </div>
            <label class="col-md-3 text-left">Number of Offices<small>(in region)</small></label>
            <div class="col-md-2">
                <div class="input-group">
                    <input type="number" @bind="@Controller.Regions[CurrentRegion].OfficeCount" @oninput="@((ui) => Controller.SetOfficeCount((string)ui.Value, CurrentRegion))" class="form-control height-30">
                </div>
            </div>
        </div>
        @if (Controller.Regions[CurrentRegion].Offices.Count > 0)
        {
            @for (int j = 0; j < Controller.Regions[CurrentRegion].Offices.Count; j++)
            {
                var OfficeNumber = j;
                var UCount = Controller.Regions[CurrentRegion].Offices[OfficeNumber].UserCount;
                <CmpOnBoard_CompanyOffice RegionNumber="CurrentRegion" UserCountNumber="UCount" OfficeNumber="OfficeNumber" Controller="@Controller"></CmpOnBoard_CompanyOffice>
            }
        }
    </div>
}
@code {

}
