@page "/login"
@inject NavigationManager _navigationManager

<div class="page-wrapper content px-4 ">
    <div class="container-fluid">
        <div class="row mb-5">
            <div class="col-md-4 offset-4" style="border:1px solid gray; background: white;">
                <div class="col-md-12 mt-5" style="text-align: center">
                    <img src="/images/horizontalLogo.png" style="width:60%" />
                </div>
                <!-- <div class="col-md-12 mt-5" style="text-align: center">
                    <label style="font-size: 20px; color: gray;">Login or Sign Up</label>
                </div>
                <div class="col-md-6 offset-3" style="text-align: center">
                    <input placeholder="Username" class="form-control" @bind-value="LoginName"/>
                </div>
                <div class="col-md-6 offset-3" style="text-align: center">
                    <input placeholder="Password" class="form-control"  @bind-value="Password"/>
                </div>
                <div class="col-md-12 mt-2" style="text-align: center">
                    <button class="btn btn-primary col-md-6" @onclick="On_Login" style="max-width: 225px;">Continue</button>
                </div> -->
                    <LoginDisplay ></LoginDisplay>
                @if(Failed != ""){
                    <p>@Failed</p>
                }
                <div class="col-md-12 mt-1" style="text-align: center">
                    <small>Oops I forget my password</small>
                    <hr>
                </div>
                <div class="row mt-3" style="background: #f8fafc; border-top: 1px solid #d4e0ec;">
                    <div class="col-md-12" style="text-align: center">
                        <div class="half-circle">
                            <small style="position: relative; bottom: 5px;">Or</small>
                        </div>
                    </div>
                    <div class="col-md-12" style="text-align: center">
                        <button class="btn btn-primary mb-2" style="background: #435e96">
                            <i class="fab fa-facebook-f pr-3"></i>
                            <span class="facebook-vertical-divider"></span>Sign in with Facebook
                        </button>
                    </div>
                    <div class="col-md-12" style="text-align: center">
                        <button class="btn btn-primary col-md-5 mb-4" style="background: #3caedd">
                            <i class="fab fa-twitter pr-3"></i>
                            <span class="twitter-vertical-divider"></span>Sign in with Twitter
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


