

<table role="presentation" align="center" cellspacing="0" cellpadding="0" border="0" border-spacing="0" bgcolor="#ffffff" style="width:600px;border:1px solid #ececec">
    <!--pay details-->
    <tr>
        <td class="our-policy">
            <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="600px margin:0;">
                <tbody>
                    <tr>
                        <td valign="top" width="100%">
                            <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                                <tbody>
                                    <tr>
                                        <td>
                                            <h3 style="color: #1b5996; font-size: 30px;font-style: italic;text-align: center;font-weight: 700;margin: 30px 0px 0px;">Thank You</h3>
                                            <p style="font-size: 16px;color:#404040;text-align: center;margin: 10px 0px 45px;">For Your recent interest, and</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h3 style="color: #1b5996; font-size: 30px;font-style: italic;text-align: center;font-weight: 700;margin: 10px 0px 0px;">Welcome</h3>
                                            <p style="font-size: 16px;color:#404040;text-align: center;margin: 10px 0px 50px;">to BizHub</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p style="font-size: 20px;
                                               color: #404040;
                                               text-align: center;
                                               margin: 0px 90px 35px;">We're working hard to make your experience both positive and productive</p>

                                            <p style="font-size: 20px;
                                               color: #404040;
                                               text-align: center;line-height:26px;
                                               margin: 0px 56px 50px;">whether you are buying or selling a business, let the artificial intellengence behind the Bizhub search engine to match you to the opportuinities that fit your dreams</p>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center">
                                            <div style="margin-bottom: 100px;margin-top: 20px;">
                                                <a href="#" style="padding:15px 40px;font-size:16px;color:#fff;background:#1b5996;line-height:26px;border-radius: 10px;">Your Search Begins Here</a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center"><img src="/images/bizhub-flogo.jpg" alt="logos" style="margin-bottom: 50px;"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>

                    </tr>
                </tbody>
            </table>
        </td>
    </tr>

</table>


@code {

}
