@page "/TransitionPlanner"
@page "/TransitionPlanner/{CurrentMenu:long}"

@using BizHub.Components.TransitionPlanner;



<div class="container-fluid">
    <div class="row">
        <AuthorizeView>
            <Authorized>
                <SfSplitter Height="100%" Width="100%">
                    <SplitterPanes>
                        <SplitterPane Size="300px">
                            <ContentTemplate>
                                <div class="col-md-12 p-0">
                                    <BizHub.Components.TransitionPlanner.CmpTransitionPlannerMenu ActiveMenu="CurrentMenu" MenuItemSelected="SelectMenuItem" />
                                </div>
                            </ContentTemplate>
                        </SplitterPane>
                        <SplitterPane>
                            <ContentTemplate>
                                <div class="col-md-12 pr-0">
                                    @if (CurrentMenu == 1) {<CmpSellerProfile />}
                                    @if (CurrentMenu == 2) {<CmpTransitionPlanner EntityOid="EntityOid" ListingOid="ListingOid" />}
                                    @if (CurrentMenu == 3) {<BizHub.Forms.CIM.CIMTemplate />}
                                </div>
                            </ContentTemplate>
                        </SplitterPane>
                    </SplitterPanes>
                </SfSplitter>
            </Authorized>
            <NotAuthorized>
                You must log in to see this content
            </NotAuthorized>
        </AuthorizeView>
    </div>
</div>
@code {

}
