<div class="text-center pt-4">
    <button type="button" @onclick="OpenNewChat" class="btn btn-light border border-dark">New Chat</button>
    <button type="button" @onclick="OpenPersonalChatConnect" class="btn btn-light border border-dark mx-3">Connect To Person</button>
    <button type="button" @onclick="OpenGroupChatConnect" class="btn btn-light border border-dark">Group Connect</button>
</div>
<CmpConfidentialBuyerProfile></CmpConfidentialBuyerProfile>
@code {

}
