<div class="col-md-3 mx-2 mb-2 p-0 saved-searches-box" style="height:100%;min-width: 360px;border-top: 1px solid var(--primary-blue);">
    @if (SavedSearchDisplay.NewListingsSinceLastSearchDate != null && SavedSearchDisplay.NewListingsSinceLastSearchDate > 0) {
        <div class="count-container">
            <div class="label-count">
                <p style="color: white;">@SavedSearchDisplay.NewListingsSinceLastSearchDate New Results</p>
            </div>
        </div>
        }
        <div class="col-md-12 p-1 text-right pr-2">
            <button class="btn btn-sm btn-transparent" @onclick="DeleteCriteria">
                <i class="fa fa-times"></i>
            </button>
        </div>
        <div class="row mx-auto px-2 py-2">
            <h4 class="my-0 ">@SavedSearchDisplay.Name</h4>
        </div>
        <div class="col-md-12">
            <p class="m-0" style="color: gray;">@SavedSearchDisplay.SearchCriteria.ListingCount Listings </p>
        </div>
        <div class="col-md-12 px-2">
            @foreach (DisplayTag oTag in SavedSearchDisplay.SearchTags) {
                <Tag DisplayTag="oTag" IsHideRemoveButton="true"></Tag>
            }
        </div>
        <hr class="my-1">
        <div class="row m-auto">
            <div class="col-md-4">
                <a @onclick="NavigateToListings" class="bizhub-cursor-pointer hover-link view-link">Run Search</a>
            </div>
            <div class="col-md-6 pr-0 text-right">
                <h5>Notify Me</h5>
            </div>
            <div class="col-md-2 text-right pl-0">
                <SfSwitch @bind-Checked="@SavedSearchDisplay.IsEmailNotification"></SfSwitch>
            </div>
        </div>
    </div>