<div class="popup-wrp">
    <div class="calling-popup overlay">
        <div class="popup mx-auto p-2 bg-white">
            <span class="close" @onclick="BlazoredModal.Cancel"><i class="fa fa-minus"></i></span>
            <div class="text-center calling-content">
                <h6 class="font-weight-normal mb-2">Connected with Tom</h6>
                <span class="user-i pr-2"><i class="fa fa-user-circle"></i></span>
                <span class="dots-i pr-2"><i class="fa fa-ellipsis-h"></i></span>
                <span class="call-i pr-2"><i class="fa fa-phone-alt"></i></span>
                <span class="dots-i pr-2"><i class="fa fa-ellipsis-h"></i></span>
                <span class="user-i multi-i pr-2">
                    <i class="fa fa-user-circle"></i>
                    <span class="call-count">5+</span>
                    <ul class="group-i p-0 list-unstyled">
                        <li><i class="fa fa-user-circle"></i></li>
                        <li><i class="fa fa-user-circle"></i></li>
                        <li><i class="fa fa-user-circle"></i></li>
                        <li><i class="fa fa-user-circle"></i></li>
                    </ul>
                </span>
                <div class="sub-content mt-5">
                    <span class="mick-i pr-2"><i class="fa fa-microphone-slash"></i></span>
                    <span class="volume-i pr-2"><i class="fa fa-microphone-slash"></i></span>
                    <span class="box-i pr-2"><i class="fa fa-microphone-slash"></i></span>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}
