@*<div class="col-md-12 mt-3">
    <h4>Create Account</h4>
</div>
<div class="row mt-4">
    <label class="col-md-12 bold-weight-labels">Your Name</label>
    <input placeholder="Name" class="form-control col-md-11 ml-2 universal-input-height" />
</div>
<div class="row mt-2">
    <label class="col-md-12 bold-weight-labels">Email</label>
    <input placeholder="Email" class="form-control col-md-11 ml-2 universal-input-height" />
</div>
<div class="row mt-2">
    <label class="col-md-12 bold-weight-labels">Password</label>
    <input placeholder="At least 6 characters" class="form-control col-md-11 ml-2 universal-input-height" />
    <small class="ml-3">
        <i class="fa fa-info" style="font-size: 9px; color: blue;"></i> Passwords must be at least 6 characters.
    </small>
</div>
<div class="row mt-2">
    <label class="col-md-12 bold-weight-labels">Re-enter Password</label>
    <input placeholder="Password" class="form-control col-md-11 ml-2 universal-input-height" />
</div>
<div class="row mt-2">
    <button class="btn create-account-button col-md-11 ml-2">Create your Biz-Hub account</button>
</div>
<div class="row mt-4">
    <p class="col-md-11">By creating an account, you agree to Biz-Hub's <span class="create-account-text">conditions of use</span> and <span class="create-account-text">privacy policy</span> </p>
</div>
<hr>
<div class="row mt-4">
    <p class="col-md-11">Already have an account? <span class="create-account-text">Sign in</span></p>
</div>*@



<div class="row">
    <div class="col-md-8 offset-2 pt-2" style="background: #f2f2f2">
        <h4>Create Account</h4>
    </div>
    <div class="col-md-12">
        <div class="row mt-4">
            <label class="col-md-12 bold-weight-labels">Your Name</label>
            <input placeholder="Name" class="form-control col-md-11 ml-2 universal-input-height" />
        </div>
        <div class="row mt-2">
            <label class="col-md-12 bold-weight-labels">Email</label>
            <input placeholder="Email" class="form-control col-md-11 ml-2 universal-input-height" />
        </div>
        <div class="row mt-2">
            <label class="col-md-12 bold-weight-labels">Password</label>
            <input placeholder="At least 6 characters" class="form-control col-md-11 ml-2 universal-input-height" />
            <small class="ml-3">
                <i class="fa fa-info" style="font-size: 9px; color: blue;"></i> Passwords must be at least 6 characters.
            </small>
        </div>
        <div class="row mt-2">
            <label class="col-md-12 bold-weight-labels">Re-enter Password</label>
            <input placeholder="Password" class="form-control col-md-11 ml-2 universal-input-height" />
        </div>
        <div class="row mt-2">
            <button class="btn create-account-button col-md-11 ml-2">Create your Biz-Hub account</button>
        </div>
        <div class="row mt-4">
            <p class="col-md-11">By creating an account, you agree to Biz-Hub's <span class="create-account-text">conditions of use</span> and <span class="create-account-text">privacy policy</span> </p>
        </div>
        <hr>
        <div class="row mt-4">
            <p class="col-md-11">Already have an account? <span class="create-account-text">Sign in</span></p>
        </div>
    </div>
</div>


@code {

}
