<h3 class="text-left pb-3">Company Name</h3>

<div class="container">
    <h5 class="text-left pb-2">Payment Information</h5>
    <div class="row ob-info-form">
        <div class="col-md-12 col-lg-12">
            <div class="row mx-auto mb-3">
                <label class="col-md-4 text-right">First Name</label>
                <div class="col-md-8">
                    <div class="input-group">
                        <input type="text" class="form-control height-30" placeholder="">
                    </div>
                </div>
            </div>

            <div class="row mx-auto mb-3">
                <label class="col-md-4 text-right">Last Name</label>
                <div class="col-md-8">
                    <div class="input-group">
                        <input type="text" class="form-control height-30" placeholder="">
                    </div>
                </div>
            </div>

            <div class="row mx-auto mb-3">
                <label class="col-md-4 text-right">Phone Number</label>
                <div class="col-md-8">
                    <div class="input-group">
                        <input type="text" class="form-control height-30" placeholder="">
                    </div>
                </div>
            </div>
            <div class="row mx-auto mb-3">
                <label class="col-md-4 text-right">Street Address</label>
                <div class="col-md-8">
                    <div class="input-group">
                        <input type="text" class="form-control height-30" placeholder="">
                    </div>
                </div>
            </div>
            <div class="row mx-auto mb-3">
                <label class="col-md-4 text-right"></label>
                <div class="col-md-8">
                    <div class="input-group">
                        <input type="text" class="form-control height-30" placeholder="">
                    </div>
                </div>
            </div>
            <div class="row mx-auto mb-3">
                <label class="col-md-4 text-right">City</label>
                <div class="col-md-8">
                    <div class="input-group">
                        <input type="text" class="form-control height-30" placeholder="">
                    </div>
                </div>
            </div>
            <div class="row mx-auto mb-3">
                <label class="col-md-4 text-right">Country</label>
                <div class="col-md-8">
                    <div class="input-group">
                        <select>
                            <option>Choose Country...</option>
                            <option>...</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row mx-auto mb-3">
                <label class="col-md-4 text-right">State</label>
                <div class="col-md-8">
                    <div class="input-group">
                        <select>
                            <option>Choose State...</option>
                            <option>...</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row mx-auto mb-3">
                <label class="col-md-4 text-right">Zip/Postal Code</label>
                <div class="col-md-8">
                    <div class="input-group">
                        <input type="text" class="form-control height-30" placeholder="">
                    </div>
                </div>
            </div>
            <div class="row mx-auto mb-3">
                <label class="col-md-4 text-right">Credit Card Number</label>
                <div class="col-md-8">
                    <div class="input-group">
                        <input type="text" class="form-control height-30" placeholder="">
                    </div>
                </div>
            </div>

            <div class="row mx-auto mb-3">
                <label class="col-md-4 text-right">Expiration Date</label>
                <div class="col-md-4">
                    <div class="input-group">
                        <select>
                            <option>Choose Month...</option>
                            <option>...</option>
                        </select>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <select>
                            <option>Choose Year...</option>
                            <option>...</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row mx-auto mb-3">
                <label class="col-md-4 text-right">Security Code</label>
                <div class="col-md-8">
                    <div class="input-group">
                        <input type="text" class="form-control height-30" placeholder="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h5 class="text-left">Terms of Use</h5>
    <div class="row ob-info-form">
        <div class="col-md-12 col-lg-12">
            <div class="row mx-auto mb-3">
                <div class="col-md-1">
                    <div class="input-group">
                        <input type="checkbox" class="form-control height-30">
                    </div>
                </div>
                <label class="col-md-11 text-left">I have read and agree to BizBuySell's <a href="#">Terms of Use</a>.</label>

            </div>

        </div>
    </div>
</div>
@code {

}
