<div id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-sm-12">
                <div class="payment-section">
                    <div class="card">
                        <div class="card-body">
                            <div class="pay-header">
                                <h3>Your Default purchase Preference <span><a href="#">Change Preferences</a></span></h3>
                            </div>
                            <div class="pay-address">
                                <h4>Address</h4>
                                <h5>Lee Grover,5630 DALE RD MODESTO, CA, 95366-9009</h5>
                                <h4>Payment method</h4>
                                <div class="card-info">
                                    <img src="/images/visa.jpg" class="img-fluid img-thumbnail">
                                    <p>Visa ending in 1234</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <CmpUserPaymentAccountCard ShowHideChargeHistory="ShowHideChargeHistory"/>
                <CmpUserPaymentChargeHistory isShowChargeHistory="isShowChargeHistory" />
                <div class="commercial-accounts">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-1 pl-0 pr-0">
                                    <div class="commer-logo text-center">
                                        <img src="/images/pay-logo.jpg" class="img-fluid">
                                    </div>
                                </div>
                                <div class="col-sm-8 text-center">
                                    <div class="commercial-text-wrapper">
                                        <h3>Open a Commercial accounts with BizHuB Prime</h3>
                                        <a class="btn-commercial">Open a Biz Hub Prime Account</a>
                                    </div>
                                </div>
                                <div class="col-sm-3 pl-0 pr-0">
                                    <a class="btn-commercial-learn">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



@code {

}
