<div class="seller-profile-wrp">
    <div class="profile-contact-sections">
        <div class="row">
            <div class="col-md-12">
                <div class="img-wrap">
                    <h3 class="d-inline-block pl-3">Seller Profile</h3>
                    <img class="seller-profile-avatar mb-0" src="/images/Seller_Profile_Icon_Ring.png">
                </div>
            </div>
        </div>

        <div class="seller-form">
            <!--start-->
            <div class="row">
                <div class="col-md-12">
                    <div class="csinfo-form p-4">
                        <div class="row">
                            <div class="col-md-6 pr-5">
                                <h5 class="font-weight-bold pb-3">Company Information</h5>
                                <div class="row">
                                    <label class="col-md-4 text-left">Name</label>
                                    <input class="col-md-8 mb-2" type="text">
                                </div>
                                <div class="row">
                                    <label class="col-md-4 text-left">Address</label>
                                    <input class="col-md-8 mb-2" type="text">
                                </div>
                                <div class="row">
                                    <div class="col-md-7">
                                        <div class="row">
                                            <label class="col-md-7 text-left">Zip</label>
                                            <input class="col-md-5 mb-2" type="text">
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="row">
                                            <label class="col-md-5 text-left">Phone</label>
                                            <input class="col-md-7 mb-2" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-md-4 text-left">Business Entity</label>
                                    <select class="col-md-8 mb-2">
                                        <option></option>
                                        <option></option>
                                        <option></option>
                                    </select>
                                </div>
                                <div class="row">
                                    <label class="col-md-4 text-left">Web Site</label>
                                    <input class="col-md-8 mb-2" type="text">
                                </div>
                                <div class="row">
                                    <label class="col-md-4 text-left">Year Established</label>
                                    <input class="col-md-5 mb-2" type="text">
                                </div>
                                <h5 class="font-weight-bold mt-5">Lease Information</h5>
                                <div class="row">
                                    <label class="col-md-4 text-left">Lease Amount</label>
                                    <input class="col-md-8 mb-2" type="text">
                                </div>
                                <div class="row">
                                    <label class="col-md-4 text-left">Expiration Date</label>
                                    <input class="col-md-8 mb-2" type="text">
                                </div>
                                <div class="row">
                                    <label class="col-md-4 text-left">Landloard Contact</label>
                                    <input class="col-md-8 mb-2" type="text">
                                </div>
                                <div class="row">
                                    <label class="col-md-4 text-left">Contact Phone</label>
                                    <input class="col-md-8 mb-2" type="text">
                                </div>
                            </div>
                            <div class="col-md-6 pl-5">
                                <h5 class="font-weight-bold pb-3">Seller Information</h5>
                                <div class="row">
                                    <label class="col-md-4 text-left">Name</label>
                                    <input class="col-md-8 mb-2" type="text">
                                </div>
                                <div class="row">
                                    <label class="col-md-4 text-left">Address</label>
                                    <input class="col-md-8 mb-2" type="text">
                                </div>
                                <div class="row">
                                    <div class="col-md-7">
                                        <div class="row">
                                            <label class="col-md-7 text-left">Zip</label>
                                            <input class="col-md-5 mb-2" type="text">
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="row">
                                            <label class="col-md-5 text-left">Phone</label>
                                            <input class="col-md-7 mb-2" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-md-12 text-right">Licenses Required to Operate the Business</label>
                                </div>
                                <div class="row">
                                    <label class="col-md-4"></label>
                                    <input class="col-md-8 mb-2" type="text">
                                </div>
                                <div class="bynumber-table mt-5 pt-4">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <table class="table table-bordered">
                                                <thead class="bg-e5">
                                                    <tr>
                                                        <th colspan="2" class="p-2">By The Numbers</th>
                                                        <th colspan="2" class="font-weight-light p-2">Revenue</th>
                                                        <th colspan="2" class="font-weight-light p-2">SDE</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td colspan="2" class="p-2">This Year</td>
                                                        <td colspan="2" class="p-2"><input type="text" class="w-100"></td>
                                                        <td colspan="2" class="p-2"><input type="text" class="w-100"></td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2" class="p-2">Last Year</td>
                                                        <td colspan="2" class="p-2"><input type="text" class="w-100"></td>
                                                        <td colspan="2" class="p-2"><input type="text" class="w-100"></td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2" class="p-2">Two Years Ago</td>
                                                        <td colspan="2" class="p-2"><input type="text" class="w-100"></td>
                                                        <td colspan="2" class="p-2"><input type="text" class="w-100"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h5 class="font-weight-bold my-3">Business Summary</h5>
                    <FSRichTextEditor></FSRichTextEditor>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h5 class="font-weight-bold my-3">Business History</h5>
                    <FSRichTextEditor></FSRichTextEditor>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h5 class="font-weight-bold my-3">Services Offered</h5>
                    <FSRichTextEditor></FSRichTextEditor>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 text-right">
                    <div class="btn-section">
                        <button class="btn btn-sm btn-secondary">Cancel</button>
                        <button class="btn btn-sm btn-success">Save</button>
                    </div>
                </div>
            </div>
            <!--end-->
        </div>
    </div>

</div>

@code {

}
