<div class="select-box py-1 px-3">
    <ul class="list-unstyled m-0">
        <li class="py-1">
            <a class="d-flex align-items-center completed check">
                <i class="fas fa-check-circle pr-2"></i>Completed
            </a>
        </li>
        <li class="py-1">
            <a class="d-flex align-items-center not-applicable">
                <i class="far fa-circle pr-2"></i>
                <span class="na-txt">NA</span>Not Applicable
            </a>
        </li>
        <li class="py-1">
            <a class="d-flex align-items-center incomplete">
                <i class="far fa-circle pr-2"></i>
                Incomplete
            </a>
        </li>
    </ul>
</div>

@code {

}
