@page "/Buyer-Profile" 

<div class="container">
    <div class="buyer-form-wrp">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <h5 class="text-center my-4"> Confidential Buyer Profile</h5>
                <!-- row1 -->
                <div class="row my-1 mx-auto">
                    <div class="col-md-6 col-sm-12">
                        <div class="row m-auto">
                            <label class="col-md-2 col-sm-12">Name:</label>
                            <input class="col-md-10 col-sm-12" type="text">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="row m-auto">
                            <label class="col-md-3 col-sm-12 p-0">Spouse/Partner:</label>
                            <input class="col-md-9 col-sm-12" type="text">
                        </div>
                    </div>
                </div>
                <!-- row2 -->
                <div class="row my-1 mx-auto">
                    <div class="col-md-12 col-sm-12">
                        <div class="row m-auto">
                            <label class="col-md-1 col-sm-12">Address:</label>
                            <input class="col-md-11 col-sm-12" type="text">
                        </div>
                    </div>
                </div>
                <!-- row3 -->
                <div class="row my-1 mx-auto">
                    <div class="col-md-4 col-sm-12">
                        <div class="row m-auto">
                            <label class="col-md-2 col-sm-12">City:</label>
                            <input class="col-md-10 col-sm-12 mb-2" type="text">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="row m-auto">
                            <label class="col-md-3 col-sm-12">State:</label>
                            <input class="col-md-9 col-sm-12 mb-2" type="text">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="row m-auto">
                            <label class="col-md-4 col-sm-12 p-0">Zip Code:</label>
                            <input class="col-md-8 col-sm-12" type="text">
                        </div>
                    </div>
                </div>
                <!-- row4 -->
                <div class="row my-1 mx-auto">
                    <div class="col-md-3 col-sm-12">
                        <div class="row m-auto">
                            <label class="col-md-7 col-sm-12">Home Phone:</label>
                            <input class="col-md-5 col-sm-12 mb-2" type="text">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12">
                        <div class="row m-auto">
                            <label class="col-md-6 col-sm-12">Office:</label>
                            <input class="col-md-6 col-sm-12 mb-2" type="text">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12">
                        <div class="row m-auto">
                            <label class="col-md-4 col-sm-12 p-0">Cell:</label>
                            <input class="col-md-8 col-sm-12" type="text">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12">
                        <div class="row m-auto">
                            <label class="col-md-4 col-sm-12 p-0">Fax:</label>
                            <input class="col-md-8 col-sm-12" type="text">
                        </div>
                    </div>
                </div>
                <!-- row5 -->
                <div class="row my-1 mx-auto">
                    <label class="col-md-2 text-center col-sm-12">Preferred phone:</label>
                    <div class="col-md-4 col-sm-12">
                        <div class="row">
                            <input type="checkbox" class="col-md-1 mt-1">
                            <label class="col-md-3">Office</label>
                            <input type="checkbox" class="col-md-1 mt-1">
                            <label class="col-md-3">Home</label>
                            <input type="checkbox" class="col-md-1 mt-1">
                            <label class="col-md-3">Cell</label>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="row m-auto">
                            <label class="col-md-2 col-sm-12 p-0">Email:</label>
                            <input class="col-md-10 col-sm-12" type="text">
                        </div>
                    </div>
                </div>
                <!-- row6 -->
                <div class="row my-1 mx-auto">
                    <div class="col-md-6 col-sm-12">
                        <div class="row m-auto">
                            <label class="col-md-5 col-sm-12">Current Occupation:</label>
                            <input class="col-md-7 col-sm-12" type="text">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="row m-auto">
                            <label class="col-md-5 col-sm-12 p-0">How did you hear about us?</label>
                            <input class="col-md-7 col-sm-12" type="text">
                        </div>
                    </div>
                </div>
                <!-- row7 -->
                <div class="row my-1 mx-auto">
                    <div class="col-md-12 col-sm-12">
                        <label class="col-md-12 col-sm-12">Previous business and work experience:(List below)</label>
                    </div>
                </div>
                <div class="row my-1 mx-auto">
                    <div class="col-md-12 pl-4 col-sm-12">
                        <textarea class="w-100" row="3"></textarea>
                    </div>
                </div>
                <!-- row8 -->
                <div class="row my-1 mx-auto">
                    <div class="col-md-4 pl-4 col-sm-12">
                        <label>Educational background:(List below)</label>
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <div class="row">
                            <input type="checkbox" class="col-md-1 mt-1">
                            <label class="col-md-1 p-0">B.A/B.S</label>
                            <input type="checkbox" class="col-md-1 mt-1">
                            <label class="col-md-1 p-0">Master</label>
                            <input type="checkbox" class="col-md-1 mt-1">
                            <label class="col-md-1 p-0">Doctorate</label>
                            <input type="checkbox" class="col-md-1 mt-1">
                            <label class="col-md-2 p-0">Prof.License(s)</label>
                            <input type="checkbox" class="col-md-1 mt-1">
                            <label class="col-md-1 p-0">Others</label>
                        </div>
                    </div>
                </div>
                <div class="row my-1 mx-auto">
                    <div class="col-md-12 pl-4 col-sm-12">
                        <textarea class="w-100" row="3"></textarea>
                    </div>
                </div>
                <!-- row9 -->
                <div class="row my-1 mx-auto">
                    <div class="col-md-12 col-sm-12">
                        <div class="row m-auto">
                            <label class="col-md-3 col-sm-12">Special skills,interests,hobbies:</label>
                            <input class="col-md-9 col-sm-12" type="text">
                        </div>
                    </div>
                </div>
                <!-- row10 -->
                <div class="row my-1 mx-auto">
                    <div class="col-md-12 col-sm-12">
                        <div class="row m-auto">
                            <label class="col-md-4 col-sm-12">Motivation for buying a business:</label>
                            <input class="col-md-8 col-sm-12" type="text">
                        </div>
                    </div>
                </div>
                <!-- row11 -->
                <div class="row my-1 mx-auto">
                    <div class="col-md-3 col-sm-12">
                        <div class="row m-auto">
                            <label class="col-md-12 col-sm-12">Types of business preferred </label>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-12">
                        <div class="row">
                            <label class="col-md-1 text-right">1</label>
                            <input type="text" class="col-md-3 mt-2">
                            <label class="col-md-1 text-right">2</label>
                            <input type="text" class="col-md-3 mt-2">
                            <label class="col-md-1 text-right">3</label>
                            <input type="text" class="col-md-3 mt-2">
                        </div>
                    </div>
                </div>
                <!-- row12 -->
                <div class="row my-1 mx-auto">
                    <div class="col-md-12 col-sm-12">
                        <div class="row m-auto">
                            <label class="col-md-5 col-sm-12">Types of business in which you are <i>not</i> interested:</label>
                            <input class="col-md-7 col-sm-12" type="text">
                        </div>
                    </div>
                </div>
                <!-- row13 -->
                <div class="row my-1 mx-auto">
                    <div class="col-md-12 col-sm-12">
                        <div class="row m-auto">
                            <label class="col-md-5 col-sm-12">Who will assistyou in operating the business?</label>
                            <input class="col-md-7 col-sm-12" type="text">
                        </div>
                    </div>
                </div>
                <!-- row14 -->
                <div class="row my-1 mx-auto">
                    <div class="col-md-7 col-sm-12">
                        <div class="row m-auto">
                            <label class="col-md-4 col-sm-12">Location Preferences:</label>
                            <input class="col-md-8 col-sm-12" type="text">
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-12">
                        <div class="row m-auto">
                            <label class="col-md-4 col-sm-12 p-0">Income required:</label>
                            <input class="col-md-8 col-sm-12" type="text">
                        </div>
                    </div>
                </div>
                <!-- row15 -->
                <div class="row my-1 mx-auto">
                    <div class="col-md-12 col-sm-12">
                        <div class="row m-auto">
                            <label class="col-md-5 col-sm-12">Who besides you will make the decision to purchase?</label>
                            <input class="col-md-7 col-sm-12" type="text">
                        </div>
                    </div>
                </div>
                <!-- row16 -->
                <div class="row my-1 mx-auto">
                    <div class="col-md-12 col-sm-12">
                        <div class="row m-auto">
                            <label class="col-md-4 col-sm-12">How do you plan to finance this purchase?</label>
                            <input class="col-md-8 col-sm-12" type="text">
                        </div>
                    </div>
                </div>
                <!-- row17 -->
                <div class="row my-1 mx-auto">
                    <div class="col-md-12 col-sm-12">
                        <div class="row m-auto">
                            <label class="col-md-6 col-sm-12">How much money have you allocated to invest in a business?</label>
                            <input class="col-md-6 col-sm-12" type="text">
                        </div>
                    </div>
                </div>
                <!-- row18 -->
                <div class="row my-1 mx-auto">
                    <div class="col-md-4 col-sm-12 text-center">
                        <label>In what form are your funds:(Explain below)</label>
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <div class="row">
                            <input type="checkbox" class="col-md-1 mt-1">
                            <label class="col-md-1 p-0">Savings</label>
                            <input type="checkbox" class="col-md-1 mt-1">
                            <label class="col-md-1 p-0">CDs</label>
                            <input type="checkbox" class="col-md-1 mt-1">
                            <label class="col-md-1 p-0">Stocks</label>
                            <input type="checkbox" class="col-md-1 mt-1">
                            <label class="col-md-1 p-0">Equity</label>
                            <input type="checkbox" class="col-md-1 mt-1">
                            <label class="col-md-1 p-0">Loan</label>
                            <input type="checkbox" class="col-md-1 mt-1">
                            <label class="col-md-1 p-0">Others</label>
                        </div>
                    </div>
                </div>
                <div class="row my-1 mx-auto">
                    <div class="col-md-12 pl-4 col-sm-12">
                        <textarea class="w-100" row="3"></textarea>
                    </div>
                </div>
                <!-- row19 -->
                <div class="row my-1 mx-auto">
                    <div class="col-md-5 col-sm-12 text-center">
                        <label>How long have you been actively looking for a business?</label>
                    </div>
                    <div class="col-md-7 col-sm-12">
                        <div class="row">
                            <input type="checkbox" class="col-md-1 mt-1">
                            <label class="col-md-2 p-0">0-3 mo</label>
                            <input type="checkbox" class="col-md-1 mt-1">
                            <label class="col-md-2 p-0">3-6 mo</label>
                            <input type="checkbox" class="col-md-1 mt-1">
                            <label class="col-md-2 p-0">6 mo-1 yr</label>
                            <input type="checkbox" class="col-md-1 mt-1">
                            <label class="col-md-2 p-0">1 yr+</label>
                        </div>
                    </div>
                </div>
                <!-- row20 -->
                <div class="row my-1 mx-auto">
                    <div class="col-md-5 col-sm-12">
                        <div class="row m-auto">
                            <label class="col-md-8 col-sm-12">Ever made an offer on a business?</label>
                            <input type="radio" name="radio11" class="col-md-1 mt-1">
                            <label class="col-md-1 p-0">yes</label>
                            <input type="radio" name="radio11" class="col-md-1 mt-1">
                            <label class="col-md-1 p-0">no</label>
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-12">
                        <div class="row m-auto">
                            <label class="col-md-8 col-sm-12">Are you in the position to make an offer now?</label>
                            <input type="radio" name="radio12" class="col-md-1 mt-1">
                            <label class="col-md-1 p-0">yes</label>
                            <input type="radio" name="radio12" class="col-md-1 mt-1">
                            <label class="col-md-1 p-0">no</label>
                        </div>
                    </div>
                </div>
                <!-- row21 -->
                <div class="row my-1 mx-auto">
                    <div class="col-md-6 col-sm-12">
                        <div class="row m-auto">
                            <label class="col-md-7 col-sm-12">Ever worked with a business broker?</label>
                            <input type="radio" name="radio13" class="col-md-1 mt-1">
                            <label class="col-md-1 p-0">yes</label>
                            <input type="radio" name="radio13" class="col-md-1 mt-1">
                            <label class="col-md-1 p-0">no</label>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="row m-auto">
                            <label class="col-md-7 col-sm-12">When do you want to be in business?</label>
                            <input type="text" class="col-md-5 mt-2">
                        </div>
                    </div>
                </div>
                <!-- row22 -->
                <div class="row my-1 mx-auto">
                    <div class="col-md-12 pl-4 col-sm-12">
                        <label>Remarks: (List below)</label>
                    </div>
                </div>
                <div class="row my-1 mx-auto">
                    <div class="col-md-12 pl-4 col-sm-12">
                        <textarea class="w-100" row="3"></textarea>
                    </div>
                </div>
                <!-- row23 -->
                <div class="row my-1 mx-auto">
                    <div class="pl-4 col-md-12">
                        <h5 class="text-center my-3"> AUTHORIZATION TO VERIFY INFORMATION</h5>
                        <p>I AUTHORIZE the broker and the sellers of any business on which i make an offer, to verify any of the above in formation and to obtain a credit report once an offer has been accepted.</p>
                    </div>
                </div>
                <!-- row24 -->
                <div class="row my-1 mx-auto">
                    <span class="pl-4 col-md-4 col-sm-12">
                        <input type="text">
                    </span>
                    <span class="col-md-2 col-sm-12">
                        <input type="text">
                    </span>
                    <span class="col-md-4 col-sm-12">
                        <input type="text">
                    </span>
                    <span class="col-md-2 col-sm-12">
                        <input type="text">
                    </span>
                </div>
                <div class="row my-1 mx-auto">
                    <label class="col-md-4 pl-4 col-sm-12">Buyer's Signature</label>
                    <label class="col-md-2 col-sm-12">Date</label>
                    <label class="col-md-4 col-sm-12">Broker's Agent</label>
                    <label class="col-md-2 col-sm-12">Date</label>
                </div>
            </div>
        </div>

    </div>
</div>
@code {

}
