@page "/Saved-Search"

@if (IsLoading) {
    <CmpLoadingSpinner></CmpLoadingSpinner>
} else {
        <section class="page-title p-2">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="title">
                            <h2 class="saved-searches-title">Saved Searches (@SavedSearches.Count)</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="save-search">
            <div class="container">
                <div class="row">
                    @if (SavedSearches != null && SavedSearches.Count > 0) {
                        @foreach (SearchCriteriaDisplay oDisplay in SavedSearches) {
                            <CmpSavedSearchCriteriaBlockView SavedSearchDisplay="oDisplay" eDeleteSearchCriteriaDisplay="DeleteSavedSearch" eNavigateToListings="NavToSavedSearch"></CmpSavedSearchCriteriaBlockView>
                        }
                    } else {
                <div class="col-md-12 text-center pt-5">
                    <i class="fas fa-exclamation col-md-12" style=" font-size: 9rem; color: #b5b3b3;"></i>
                    <label class="mt-3" style="color:gray;">No Records Have Been Found</label>
                </div>
                    }
                </div>
            </div>
        </section>
    }
}
