<div class="row price-details-one">
    <div class="col-md-6 number-labels p-0">
        @Label
    </div>
    <div class="col-md-6 text-right">
       @if (IsShowData == true) {
           @if (!string.IsNullOrEmpty(Value)) {
               <h5>@if (!string.IsNullOrEmpty(ValuePrecursor)) {@ValuePrecursor}@Value
                   @if (!string.IsNullOrEmpty(ToolTip)) {
                          <i data-toggle="tooltip" data-placement="top" title="@ToolTip" class="fas fa-question-circle" style="color: var(--primary-blue);font-size: 14px;"></i>
                      }
                </h5> 
           } else {
               <h5>N/A</h5>
           }
       } else {
           <img data-toggle="tooltip" data-placement="top" title="Available during Due Diligence" src="/images/security-lock.png" class="img-fluid" alt="images" style="width: 12%;">
       }
    </div>    
</div>





@* <tr class="price-details-one"> *@
@*     <td><h4>@Label</h4></td> *@
@*     <td> *@
@*         @if (IsShowData == true) { *@
@*             @if (!string.IsNullOrEmpty(Value)) { *@
@*                 <h5>@if (!string.IsNullOrEmpty(ValuePrecursor)) {@ValuePrecursor}@Value</h5> *@
@*             } else { *@
@*                 <h5>N/A</h5> *@
@*             } *@
@*             @if (!string.IsNullOrEmpty(ToolTip)) { *@
@*                 <a data-toggle="tooltip" data-placement="top" title="@ToolTip"> *@
@*                     <i class="fas fa-question-circle"></i> *@
@*                 </a> *@
@*             } *@
@*         } else { *@
@*             <span>Fancy Icon</span> *@
@*         } *@
@*     </td> *@
@* </tr> *@