<div class="container">
    <div class="row">
        <div class="col-lg-11 mx-auto">
            <!--start-->
            <div class="row bor-bottom">
                <div class="col-md-12">
                    <div class="list-similar">
                        <h2>Similar Listings</h2>
                        <a href="#">Insurance Agencies for Sale </a> | <a href="#"> Other Services Businesses for Sale</a> | <a href="#">All Businesses</a>
                    </div>

                </div>
                <div class="col-md-3">
                    <div class="product-container">
                        <div class="product-img-wrap">

                        </div>
                        <div class="product-text-wrap">
                            <h4>Tile Cutting and Designs-service only No Retail-Or-Cty</h4>
                            <p>Orange, CA</p>
                            <p>Asking: $545,000</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="product-container">
                        <div class="product-img-wrap">
                            <img src="/images/product1.jpg" class="img-fluid" alt="images">
                        </div>
                        <div class="product-text-wrap1">
                            <h4>Dry Cleaner in Orange Country</h4>
                            <p>Orange, CA</p>
                            <p>Asking: $119,000</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="product-container">
                        <div class="product-img-wrap">
                            <img src="/images/product2.jpg" class="img-fluid" alt="images">
                        </div>
                        <div class="product-text-wrap">
                            <h4>Costco Center Cleaners</h4>
                            <p>Orange, CA</p>
                            <p>Asking: $760,000</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="product-container">
                        <div class="product-img-wrap">
                            <img src="/images/product3.jpg" class="img-fluid" alt="images">
                        </div>
                        <div class="product-text-wrap">
                            <h4>Meineke Car Care Centers</h4>
                            <p class="green-text">Franchise Opportunity</p>
                            <p>Cash Required: $110,000</p>
                        </div>
                    </div>
                </div>
                <!--end-->
            </div>
        </div>
    </div>
</div>

@code {

}
