<section class="inner-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="inner-title">
                    <h1>Broker Membership Pricing</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="broker-price-details">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-3">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered text-center">
                        <thead class="broker-prcie-table">
                        <th>Pricing Tier</th>
                        <th>Number of Listings</th>
                        <th>Standard Account Price Per Month</th>
                        <th>Featured Account Price Per Month</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Tier 1</td>
                                <td>0-50</td>
                                <td>$39.95</td>
                                <td>$49.95</td>
                            </tr>
                            <tr>
                                <td>Tier 2</td>
                                <td>51-100</td>
                                <td>$49.95</td>
                                <td>$59.95</td>
                            </tr>
                            <tr>
                                <td>Tier 3</td>
                                <td>101-150</td>
                                <td>$79.95</td>
                                <td>$89.95</td>
                            </tr>
                            <tr>
                                <td>Tier 4</td>
                                <td>151-200</td>
                                <td>$129.95</td>
                                <td>$139.95</td>
                            </tr>
                            <tr>
                                <td>Tier Custom</td>
                                <td>201+</td>
                                <td colspan="2">Variable Custom Pricing</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--second-->
        <div class="row">
            <div class="col-md-12">
                <div class="feature-list-broker">
                    <div class="card">
                        <div class="card-header">
                            <h2>Featured Listings For Business Brokers</h2>
                        </div>
                        <div class="card-body">
                            <p>Brokers May Feature Listings for<b> 50 cents per day</b> - typical monthly cost is $15. Featured listings appear at TOP of search results and also appear on the geo-targeted homepage (for your State).More exposure, more leads.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end-->
    </div>
</section>

@code {

}
